<div ng-controller="EditClientController">
    <form ng-if="client.id" ng-submit="update()">
        <table class="table table-borderless table-sm container">
            <tr ng-repeat="(field, fieldName) in fields">
                <th class="text-right align-middle w-50">
                    <label for="input-{{field}}" class="mb-0 mr-2">{{fieldName}}</label>
                </th>
                <td class="text-left w-50">
                <span ng-if="editableFields.indexOf(field) !== -1">
                    <input class="form-control"
                           id="input-{{field}}" type="text"
                           ng-model="client[field]"
                    >
                </span>
                    <span ng-if="editableFields.indexOf(field) === -1">
                    <span>{{ client[field] }}</span>
                </span>
                </td>
            </tr>

            <tr>
                <td colspan="2" class="mx-4 text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Save</button>
                </td>
            </tr>
        </table>
    </form>
</div>